body {
  margin: 0;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.cards {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}
